.navbar {
    background-color: $dark-grey;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 10px $dark-grey-alt;
    z-index: 999;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media (--xs) {
            display: block;
        }
    }

    .logo {
        font-size: 28px;
        position: relative;
        opacity: .8;
        transition: 0.3s;

        @media (--xs) {
            font-size: 24px;
        }

        &:hover {
            opacity: 1;
        }

        b {
            font-weight: 600;
        }

        &::before {
            content: '</>';
            color: $blue;
            font-weight: 600;
        }   
    }

    .hamburger {
        position: absolute;
        right: 20px;
        top: 5px;
        display: none;
        padding: 0;

        @media (--xs) {
            display: inline-block;
        }
         
    }
    
    .menu {
        display: flex;

        @media (--xs) {
            display: block;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s;
            
            &.is-active {
                max-height: 100vh;
            }
        }
        
        li {
            display: block;
            position: relative;
            margin: 0 30px 0 0;

            @media (--xs) {
                margin: 10px 0;

                &:first-child {
                    margin: 30px 0 0;
                }
                    
            }

            &:last-child {
                margin: 0;
            }
                
            a {
                display: block;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
                color: rgba($white, .8);
                transition: 0.3s;

                @media (--xs) {
                    padding: 10px;
                    border-radius: 4px;
                }

                &::after {
                    content: '';
                    background-color: $blue;
                    width: 50%;
                    height: 2px;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    opacity: 0;
                    transition: 0.3s;

                    @media (--xs) {
                        display: none;
                    }

                }

                &:hover, &.active {
                    color: rgba($white, 1);
                    transition: 0.3s;

                    @media (--xs) {
                        color: $white;
                    }

                    &::after {
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    .lang {
        position: absolute;
        right: 20px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        &__bt {
            background-color: transparent;
            border: 0;
            width: 50px;
            height: 34px;
            cursor: pointer;

            svg {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
    
.sec-header {
    background: $dark-grey;
    width: 100%;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            padding: 20% 0 0;

            .title {
                &::after {
                    content: 'Mateus Daniel';
                }
            }
        }
    }
    
    .wrapper {
        text-align: center;

        .funct {
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            background-color: rgba(0, 0, 0, .3);
            padding: 10px 15px;
            display: inline-block;
            border-radius: 4px;
            margin: 0 0 10px;
        }

        .title {
            font-size: 72px;
            margin: 0;
            //text-transform: uppercase;
            font-weight: 600;
            font-style: italic;

            @media (--xs) {
                font-size: 54px;
            }
        }

        .intro {
            font-size: 18px;
            color: rgba(255, 255, 255, .8);
            font-style: italic;
            margin: 20px 0;
            font-weight: 400;
        }

        .bt {
            background-color: rgba($blue, .8);
            padding: 15px 30px;
            border-radius: 4px;
            //text-transform: uppercase;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s;
            font-style: italic;

            &:hover {
                background-color: rgba($blue, 1);
                transition: 0.3s;
            }
        }
    }
}

.sec-sobre {
    background-color: $dark-grey-alt;

    .container {
        display: flex;
        flex-wrap: wrap;

        @media (--md) {
            flex-direction: column-reverse;
        }

        .esq, .dir {
            width: 50%;

            @media (--md) {
                width: 100%;
            }
        }
        
        .esq {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            figure {
                max-width: 200px;
                padding: 6px;
                border: 3px solid rgba($blue, .8);
                border-radius: 50%;
                transition: 0.3s;

                &:hover {
                    border: 3px solid rgba($blue, 1);
                }

                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
                
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    border: 0 !important;
                    max-height: 200px;
                }
            }

            .title {
                margin: 0;
                font-weight: 600;
                font-style: italic;
                opacity: .8;
            }

            .social {
                display: flex;
                justify-content: space-around;
                width: 100%;
                max-width: 450px;
                margin-top: 20px;

                @media (--xs) {
                    max-width: 100%;
                }

                li {
                    display: inline-block;

                    a {
                        display: block;
                        opacity: .4;
                        transition: 0.3s;

                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }

        .dir {
            .intro {
                font-style: italic;
                opacity: .8;
                margin: 0 0 20px;

                &:last-child {
                    margin: 0;
                }

                @media (--xs) {
                    text-align: center;
                }
            }
        }
    }
}

.sec-stacks {
    background-color: $dark-grey;

    .legenda {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid rgba($black, .2);
        padding: 10px 20px;
        border-radius: 8px;
        font-style: italic;

        .title {
            @media (--xs) {
                display: block;
                width: 100%;
            }
        }

        .level {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 35px;

            @media (--xs) {
                padding: 0 0 0 14px;
                margin-right: 21px;
            }

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                position: absolute;
                left: 21px;
                margin-right: 20px;
                
                @media (--xs) {
                    left: 0;
                }
            }

            &.low {
                &::before {
                    background-color: $yellow;
                }
            }

            &.medium {
                &::before {
                    background-color: $blue;
                }
            }

            &.high {
                &::before {
                    background-color: $green;
                }
            }
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;

        .col {
            width: calc(100% / 4);
            text-align: center;
            color: $white;
            opacity: .4;
            transition: 0.3s;
            margin: 60px 0 0;

            @media (--sm) {
                width: calc(100% / 2);
            }
            
            @media (--xs) {
                width: 100%;
            }

            &:hover {
                opacity: .8;
            }

            .title {
                font-weight: 400;
                font-style: italic;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                &.low {
                    &::before {
                        background-color: $yellow;
                    }
                }

                &.medium {
                    &::before {
                        background-color: $blue;
                    }
                }

                &.high {
                    &::before {
                        background-color: $green;
                    }
                }

                
                    
            }
        }
    }
}

.sec-portfolio {
    background-color: $dark-grey-alt;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .legenda {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid rgba($black, .2);
        padding: 10px 20px;
        border-radius: 8px;
        font-style: italic;
        margin: 0 0 30px;

        .title {
            @media (--xs) {
                display: block;
                width: 100%;
            }
        }

    }

    .col {
        width: calc(95% / 3);
        background-color: rgba(0, 0, 0, .1);
        height: -fit-content;
        padding: 30px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        box-shadow: 2px 2px 10px #1F1F1F;
        margin: 0 0 5%;

        @media (--sm) {
            width: calc(95% / 2);
        }

        @media (--xs) {
            width: 100%;
        }
                    
        &:hover {
            background-color: rgba(0, 0, 0, .2);

            img {
                filter: grayscale(0);
                opacity: 1;
                transition: 0.3s;
            }
            
            .title, .intro, .intro b {
                color: rgba($white, 1);
                transition: 0.3s;
            }
        }

        img {
            max-width: 100%;
            border-radius: 4px;
            filter: grayscale(100%);
            opacity: .4;
            transition: 0.3s;
        }

        .title {
            font-size: 24px;
            //text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-style: italic;
            color: rgba($white, .8);
            transition: 0.3s;

            @extend %lineclamp1;
        }

        .intro {
            font-size: 18px;
            font-style: italic;
            text-align: center;
            color: rgba($white, .8);
            transition: 0.3s;

            @extend %lineclamp2;

            b {
                font-weight: 500;
                color: rgba($white, .8);
                text-transform: uppercase;
                font-style: normal;
                transition: 0.3s;
            }
        }
    
        a {
            display: block;
            text-align: center;
            background-color: rgba(0, 0, 0, .2);
            color: rgba($white, .8);
            padding: 15px 30px;
            //text-transform: uppercase;
            font-style: italic;
            //font-weight: 500;
            margin: 20px 0 0;
            font-size: 18px;
            border-radius: 4px;
            
            transition: 0.3s;

            &:hover {
                background-color: $blue;
                color: rgba($white, 1);
            }
        }
        
        a[href="#"], a[href=""], {
            background-color: rgba(0, 0, 0, .1);
            color: rgba($white, .4);
            pointer-events: none;            
        }

    }
}

.sec-timeline {
    background-color: $dark-grey;

    .wrapper {
        width: 50%;
        margin: 0 auto;
        position: relative;

        @media (--xs) {
            width: 100%;
            padding: 0 0 0 12px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: $blue;

            @media (--xs) {
                left: 12px;
            }
        }
    }

    .item {
        background-color: rgba($black, .1);
        padding: 30px;
        margin: 20px 0 20px 40px;
        position: relative;
        border-radius: 4px;
        transition: 0.3s;

        @media (--sm) {
            padding: 20px;
        }

        &::before {
           content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $dark-grey;
            border: 4px solid $blue;
            border-radius: 50%;
            left: -52px;
            top: 40px;
        }
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            border: 10px solid;
            border-color: transparent #28292D transparent transparent;
            left: -20px;
            top: 44px;
        }
        
        .year {
            font-size: 32px;
            margin: 0;
            opacity: .8;
            transition: 0.3s;
        }

        .intro {
            font-style: italic;
            opacity: .8;
            transition: 0.3s;

            @media (--sm) {
                font-size: 14px;
            }
        }
        
        &:hover {
            box-shadow: 5px 5px 20px #1F1F1F;

            .year, .intro {
                opacity: 1;
                
            }
        }
            
    }
}

.sec-contato {
    background-color: $dark-grey-alt;

    .container {
        display: flex;

        @media (--sm) {
            flex-direction: column-reverse;
        }
    }

    .esq, .dir {
        width: 50%;

        @media (--sm) {
            width: 100%;
        }
    }
    
    .esq {
        padding: 0 80px 0 0;

        @media (--sm) {
            padding: 0;
            margin: 80px 0 0;
        }

       .social {

           li {
               width: 100%;
               margin: 0 0 20px;

               a {
                   display: flex;
                   align-items: center;
                   justify-content: flex-start;
                   padding: 30px 40px;
                   background-color: $dark-grey;
                   border-radius: 8px;
                   transition: 0.3s;
                   
                   .wrapper {
                       margin-left: 30px;
                       font-style: italic;
                    }

                    i {
                        opacity: .4;
                        transition: 0.3s;
                    }

                   .title {
                       margin: 0;
                       opacity: .8;
                       transition: 0.3s;
                    }

                    .intro {
                        margin: 0;
                        opacity: .4;
                    }

                    &:hover {
                        box-shadow: 5px 5px 20px #1F1F1F;

                        .title {
                            opacity: 1;
                        }
                        
                        i {
                            opacity: 1;

                        }
                    }
                }
            }
        } 
    }

    .dir {

        .intro {
            margin: 0 0 30px;
            opacity: .8;
            font-style: italic;
        }

        input, textarea {
            width: 100%;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid rgba($white, .2);
            padding: 10px 0;
            outline: none;
            border-radius: 0;
            margin: 0 0 20px;
            font-style: italic;
            transition: 0.3s;
            resize: none;

            &:focus {
                border-color: rgba($blue, 1);
            }
            
            &::placeholder {
                color: rgba($white, .4)
            } 
        }
        
        textarea {
            min-height: 150px;
            @extend %scrollbar;
        }

        button {
            background-color: rgba($blue, .8);
            padding: 15px 30px;
            border-radius: 4px;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s;
            font-style: italic;
            border: 0;
            cursor: pointer;

            &:hover {
                background-color: rgba($blue, 1);
                transition: 0.3s;
            }
        }

        #my-form-status {
            font-style: italic;
            padding: 10px 20px;
            background-color: rgba($black, .2);
            border: 2px solid rgba($black, .1);
            color: rgba($white, .8);
            border-radius: 4px;
            text-align: center;
            display: none;
        }
    }    
}

.footer {
    text-align: center;
    border-bottom: 5px solid $blue;

    .intro {
        margin: 0;
        padding: 20px 0;
    }
}